/target
/classes
/checkouts
pom.xml
pom.xml.asc
.repl*
dev/resources/public/js/*
figwheel_server.log
build.xml
doo-index.html
*.jar
*.class
/.lein-*
/.nrepl-port
*.iml
/.idea
/.lein-repl-history
**/.nrepl-history
**/.nrepl-port
.cljs_rhino_repl/
out/
**/.DS_Store
