{:consul {:host "http://localhost:8500"
          :kv-prefix "/v1/kv"}
 :hubble {:server {:port 4242}
          :store {:url "spacecraft://tape"}
          :camera {:mode "mono"}
          :mission {:target "Eagle Nebula"}}}
