{:consul {:host "http://localhost:8500"
          :kv-prefix "/v1/kv"}
  :hubble
  {:server {:port 4242}
   :store {"spacecraft://tape"}
   :camera 
    {:mode "color"}
   :mission "Horsehead Nebula"}}
